passenger.*.pid
passenger.*.pid.lock
airq.passenger.log
.Rproj.user
doTest
.Rhistory
all.csv
id_rsa
id_rsa.pub
root_id_rsa
root_id_rsa.pub
.RData
.vagrant/
passenger.8090.log
rvmi_key.private.key
pwfile
airq_key.pub
airqdaemon.private.key
airq_key
GGD.csv
sensorparameters.csv
