#!/bin/bash
### BEGIN INIT INFO
# Provides:          airqserver
# Required-Start:    $local_fs $network $named $time $syslog
# Required-Stop:     $local_fs $network $named $time $syslog
# Default-Start:     2 3 4 5
# Default-Stop:      0 1 6
# Description:       airqserver providing endpoint for city-sdk
### END INIT INFO

BASE_DIR=
MY_CMD=bundle
export PATH=

start(){
  cd ${BASE_DIR}
  ${MY_CMD} exec passenger start
}
stop(){
  cd ${BASE_DIR}
  ${MY_CMD} exec passenger stop
  PIDS="$(ps -ef | /bin/grep PassengerAgent | /bin/grep -v grep | tr -s ' ' | cut -f2 -d' ')"
  if [ "$PIDS " = " " ]
  then
    return
  fi
  for pid in "${PIDS}"
  do
    kill -s SIGTERM ${pid}
  done

}

status(){
  cd ${BASE_DIR}
  ${MY_CMD} exec passenger status
}

reload(){
  cd ${BASE_DIR}
  ${MY_CMD} exec passenger-config reopen-logs
}

case "$1" in
  start)
    start
    ;;
  stop)
    stop
    ;;
  status)
    status
    ;;
  restart)
    stop
    start
    ;;
  reload)
    reload
    ;;
  *)
    echo "Usage: $0 {start|stop|restart|reload|status}"
esac
